{{ form_start(form) }}
    {{ form_widget(form) }}
{#    <label for="featured_image">Choose Image </label>#}
{#    <input type="file" name="featured_image"/>#}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
